<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username">
  
          <mat-error *ngFor="let validation of validate_messages.username">
            <mat-error class="error-message" *ngIf="username.hasError(validation.type) && username.touched">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
  
          <mat-error *ngFor="let validation of validate_messages.password">
            <mat-error class="error-message" *ngIf="password.hasError(validation.type) && password.touched">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Full name" formControlName="full_name">
    
            <mat-error *ngFor="let validation of validate_messages.full_name">
              <mat-error class="error-message" *ngIf="full_name.hasError(validation.type) && full_name.touched">
                {{validation.message}}
              </mat-error>
            </mat-error>
          </mat-form-field>

      </form>
    </mat-card-content>
  
    <mat-card-actions align="middle">
      <button mat-raised-button class="submit-btn" color="primary" type="submit" [disabled]="!form.valid || is_loading"
        (click)="register()">Register</button>
  
    </mat-card-actions>
  </mat-card>
  
  <div align="middle" *ngIf="is_loading">
    <mat-spinner></mat-spinner>
  </div>